<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/functions.js"></script>
    <style>
        table {
            text-align: right;
        }
    </style>
</head>
<body>
<p style="font-style:italic">Letztes Update: <%= lastModified %></p>
<h1><%= item_name %></h1>
<script>
    let cost;
</script>
<table>
    <tr><td>Lowest price: </td><td><%= lowestAuction[0].singleBuyout %></td></tr>
    <tr><td>Total price: </td><td><%= lowestAuction[0].buyout %></td></tr>
    <tr><td>Quantity: </td><td><%= lowestAuction[0].quantity %></td></tr>
    <tr><td>Number of Auctions: </td><td><%= lowestAuction.length %></td></tr>
    <tr><td><hr></td></tr>
    <tr><td>Quantity</td><td>buyout</td><td>single buyout</td></tr>
<% 

    let cost; 
    auctionsReduced.forEach(function(auction){
%>
<tr>
    <td><%= auction.quantity %></td>
                    <%
                    %>
                    <td><%= auction.price.gold %>g <%= auction.price.silver %>s <%= auction.price.copper %>c</td>
                    <td><%= auction.singlePrice.gold %>g <%= auction.singlePrice.silver %>s <%= auction.singlePrice.copper %>c</td>


</tr>
<% }) %>
</table>

</body>
</html>